body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-image: url("velaris.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

li:hover,
li:active,
li:focus,
li:target {
  background-color: lightyellow;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #a2a1a1;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-form {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.f {
  position: relative;
  top: -20px;
}

.icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.weather {
  border: 1px solid #b3d1f9;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: black;
  opacity: 90%;
  width: 100%;
  height: 100%;
}

.temp,
.temp-celsius {
  font-size: 60px;
  padding-top: 0px;
  color: white;
}
.tempChange {
  text-decoration: none;
  color: white;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#current {
  width: 90px;
}
a#fahrenheit,
a#celsius {
  color: gray;
}

a#celsius:focus,
a#fahrenheit:focus {
  color: rgb(206, 63, 249);
}
#submit:hover {
  color: rgb(206, 63, 249);
  background-color: gray;
  color: black;
}

footer {
  text-align: center;
}
a.github {
  color: gray;
}
